.flaskenv

__pycache__
env/
shell/

/dist
.coverage
.pytest_cache/
htmlcov/

.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log

data/
node_modules
npm-debug.log
package-lock.json
.env
yarn-error.log
.ipynb_checkpoints
.DS_Store
*.sqlite3
*.sqlite
*.pyc
