*.pyc

/data
/data/
/datawizard/
/static/

.env
/mriconnect/settings/local.py

.sass-cache
.DS_Store
*.swp
*.sqlite3
/docker-compose.yml
/env/
/venv/
/static/
/assets/
/media/
/tmp/
/.keys/
/.vagrant/
/Vagrantfile.local
/docs/_build/

/front/node_modules/
/front/dist/
