[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask-migrate = "*"
flask-api = "*"
click = "*"
gunicorn = "*"
flask = "*"
flask-admin = "*"
flask-sqlalchemy = "*"
itsdangerous = "==1.1.0"
"jinja2" = "*"
markupsafe = "*"
werkzeug = "*"
wtforms = "*"
"psycopg2-binary" = "*"

