{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="bg-white p-5 rounded">
{% if validlink %}
<h1>Password Reset</h1>
<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">
    {% csrf_token %}
    {{form|crispy}}
<input type="submit" value="{% translate 'Change my password' %}" class="btn btn-primary">
</form>
{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</div>
{% endblock %}
