{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Configuration</h1>
            <p class="lead">
                Settings and data for the application can be updated here.
            </p>

            <p>The following data formats are supported, based on the GMBA Access databank:
            <ul>
                {% for fmt in DATAFORMATS %}
                <li><b>{{ fmt.filename }}</b> ({{ fmt.extension }})</li>
                {% endfor %}
            </ul>

            <hr>

            <h4>Import dataset</h4>
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_data') }}">
                <input type="file" name="datafile"><br>
                <button type="submit" class="btn btn-primary">
                    Upload and refresh new data
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </form>
            <br>
            <form action="{{ url_for('refresh_all') }}" method="post">
                <button type="submit" class="btn btn-sm btn-default">
                    Refresh all available data
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </form>
            <hr>
            <p>Details about file format to be added here.</p>
        </div>
    </div>
</div>
{% endblock body %}
