{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>GMBA Connect Administration</h1>
            <p class="lead">
            A search engine and members directory for the Global Mountain Biodiversity Assessment (GMBA) research network.
            </p>

            <p>Instructions for using the backend to go here.</p>

            <hr>
            <p>To embed this application on your website, copy and paste the following code:
                <input type="text" value="WIP ...">
            </p>
            <hr>

            <center><div class="btn-group">
                    <a class="btn btn-success" href='/client/index.html'>
                        Demo page
                    </a>
                    <a class="btn btn-info" target="_blank" href='/client/widget.html'>
                        Full screen
                    </a>
                    <a class="btn btn-warning" href='/api/people'>
                        People API
                    </a><a class="btn btn-warning" href='/api/resources'>
                        Resources API
                    </a>
                </div>
                <br><br><br><small>
                    <p>Developed by <a href="http://datalets.ch" target="_blank">Datalets</a> - please <a href="mailto:info@datalets.ch">contact us</a> if you have any questions.</p>
                    <p>MIT Licensed source code link</p>
                </small>
            </center>
        </div>
    </div>
</div>
{% endblock body %}
