#main {
  background-color: #f0f0f0;
  padding: 0;
  padding-top: 3em;
}

#header {
  background: url(/static/images/banner.jpg) center no-repeat;
  background-size: cover;
  padding-top: 460px;
}

#search, #contact {
  margin-bottom: 2em;
}

labels .icon {
  height: 1.4em;
  width: 1.4em;
  display: inline-block;
  background-size: auto 100%;
  margin-right: 0.3em;
}

hide, .hide { display: none; }

a { color: #444; }

#map { height: 400px; }

#help { font-size: 150%; line-height: 1.5em; }

.results .person {
  display: block;
  height: auto;
  width: 100%;
  border-top: 1px solid #999;
  padding: 1em;
  margin: 0em;
  cursor: pointer;
  border-left: 20px solid transparent;
}
.results .person:hover {
  border-left: 20px solid wheat;
  color: black;
}

#content { clear: both; }

.details .c-button {
  position: relative;
  float: right;
  cursor: pointer;
}

.details {
  background: white;
  border-left: 20px solid wheat;
}

.field_country .material-icons {
  float: left;
  margin: 7pt;
}

.field_country .c-field{
  width: 71%;
}
