#main {
  background-color: #f0f0f0;
  padding: 0;
  padding-top: 3em;
}

#header {
  background: url(/static/images/banner.jpg) center no-repeat;
  background-size: cover;
  padding-top: 460px;
}

#search, #contact {
  margin-bottom: 2em;
}

labels .icon {
  height: 1.4em;
  width: 1.4em;
  display: inline-block;
  background-size: auto 100%;
  margin-right: 0.3em;
}

hide, .hide { display: none; }

a { color: #444; }

#map { height: 400px; }

#help { font-size: 150%; line-height: 1.5em; }

.person {
    display: inline-block;
    clear: none;
    height: auto;
    width: 15em;
    float: left;
    border: 1px solid #999;
    box-shadow: 3px 3px 3px #CCD;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

#detail .person {
  width: auto;
}

#content { clear: both; }
