body {
  margin: 0; padding: 0;
}

main {
  background-color: #f0f0f0;
  padding: 1em;
  color: rgb(102, 102, 102);
  font-family: FrutigerLTW02-55Roman, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30.0667px;
  text-rendering: optimizelegibility;
}

#search, #contact {
  margin-bottom: 2em;
}

labels .icon {
  height: 1.4em;
  width: 1.4em;
  display: inline-block;
  background-size: auto 100%;
  margin-right: 0.3em;
}

hide, .hide { display: none; }

a { color: #444; }

#map { height: 400px; }

#help { font-size: 150%; line-height: 1.5em; }

#content { clear: both; }

.results .person {
  display: block;
  height: auto;
  width: 100%;
  border-top: 1px solid #999;
  padding: 1em;
  margin: 0em;
  cursor: pointer;
  border-left: 20px solid transparent;
}
.results .person:hover {
  border-left: 20px solid wheat;
  color: black;
}

.details .c-button {
  position: relative;
  float: right;
  cursor: pointer;
}

.o-field--icon-left .c-button--close {
  top: 0.25em;
}

.details {
  background: white;
  border: 20px solid wheat;
}

.o-field { margin: 1em; }

.c-field {
  padding-left: 2em;
}

.c-card.c-card--menu.u-high {
  margin: 0px;
  margin-bottom: 0.5em;
}

.material-icons {
  position:absolute;
  margin-top:0.3em;
  margin-left:0.3em;
}

.field-filters .c-card--menu { margin: 0 0 0.5em 0; }

.person .name { font-weight: bold; }

.person-tags section span:after { content: "; " }
.person-tags section span:last-child:after { content: "" }

.results .footer { text-align: center; margin: 1em; }

section.resources ul {
  list-style:none;padding:0;margin:0
}
section.resources li {
  clear:both;margin-bottom:1em
}
section.resources li .c-input-group {
  float:left; clear:both; margin-right:1em
}
