<!DOCTYPE html>
<html xml:lang="de" prefix="og: http://ogp.me/ns#" style="" class=" js flexbox flexboxlegacy canvas canvastext webgl touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en"><head>
	<!-- base href="http://www.gmba.unibe.ch/research/" -->
	<meta charset="utf-8">
        <title>
          Global Mountain Biodiversity Assessment (GMBA):
          Mountain biodiversity science -
          University of Bern
        </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">


        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="DC.Title" content="Mountain biodiversity science">
	<meta property="og:title" content="Mountain biodiversity science">
	<meta name="DC.Title.Alt" content="Research">
        <meta property="og:url" content="http://www.gmba.unibe.ch/research/">
        <meta property="og:type" content="website">


	<meta name="DC.Date" content="2017/11/14">
	<meta name="DC.Format" content="text/html">
	<meta name="DC.Language" content="eng">









        <meta property="og:site_name" content="Global Mountain Biodiversity Assessment (GMBA)">





        <meta name="category" scheme="eurospider" content="inhalt">
	<meta name="access" scheme="eurospider" content="extern">
         <meta name="breadcrumb" content="['Universit\xc3\xa4t Bern', 'Portal', 'Microsites', 'Global Mountain Biodiversity Assessment (GMBA)', 'Mountain biodiversity science']">



	<link type="text/css" href="/static/gmba-home_files/styles.css" rel="stylesheet" media="all">
	<link type="text/css" href="/static/gmba-home_files/zmscustom_styles.css" rel="stylesheet" media="all">
	<!--[if lt IE 9]>
	<script src="//www.gmba.unibe.ch/js/vendor/html5shiv.min.js"></script>
	<![endif]-->


<body class="skin-color-gray microsite client-micro_gmba ZMSFolder Microsite" data-mainnavsection="microsite" id="e565928" style="cursor: auto;">
	<div class="wrapper">
		<header>



<div class="container">
	<a href="http://www.unibe.ch/index_eng.html" title="Startseite Portal Universität Bern"><img class="site-logo" src="/static/gmba-home_files/logo_unibern2x.png" alt="Universität Bern"></a>

	<hr>

	<!-- Hidden-Navigation -->
	<nav class="nav-skip">
		<ul>
	        <li><a id="homelink" accesskey="0" href="http://www.gmba.unibe.ch/">Startseite</a></li>
	        <li><a accesskey="1" href="#nav-main">Menu</a></li>
	        <li><a accesskey="2" href="#content">Inhalt</a></li>
	        <li><a accesskey="3" href="#address">Kontakt</a></li>
	        <li><a accesskey="5" href="#site-search">Suche</a></li>
	        <li><a accesskey="6" href="#nav-lang">Sprachwahl</a></li>
	        <li><a accesskey="7" href="#nav-service">Wichtige Seiten</a></li>
		</ul>
	</nav>

	<hr>
</div>








		</header>

		<main id="content" role="main">


<div class="container-fluid">
  <div class="container">

    <!-- Bereichstitel -->
    <div class="microsite-title">
      <h2 class="area-title">Global Mountain Biodiversity Assessment (GMBA)</h2>
      <img class="clientlogoalt" src="/static/gmba-home_files/logo-gmba-2016-blau210pixel.png" alt="">
    </div>

    <!-- Horizontale Subnavigation -->
    <nav class="nav-sub nav-main-mobile">

    <h3 class="hidden-lg mobile-menu">
        <a href="#">Menu<span class="sr-only"> öffnen</span></a>
    </h3>
    <div class="view-container">
        <div class="overall lvl-2">
            <div class="top-info">
                <ul>
                    <li class="menu-close"><a href="#">Menu<span class="sr-only"> schliessen</span></a></li>
                    <li class="back-info"><a href="http://www.gmba.unibe.ch/">Startseite</a></li>
                    <li class="toplevel-info"><a href="http://www.gmba.unibe.ch/research/">Research</a></li>
                </ul>
            </div>
            <div class="mega-pd">
<ul class="level-1">
	<li class="open">
		<a href="http://www.gmba.unibe.ch/research/">Research</a>
		<div class="nav-left col-lg-3 flyout-2">
			<ul class="level-2 open">
	<li><a href="http://www.gmba.unibe.ch/research/working_groups/">Working groups</a></li>
	<li><a href="http://www.gmba.unibe.ch/research/projects/">Projects</a></li>
				</ul>
			</div></li>
	<li><a href="http://www.gmba.unibe.ch/services/">Services</a></li>
	<li><a href="http://www.gmba.unibe.ch/services/mountain_portal/">Mountain Portal</a></li>
	<li><a href="#" class="active current open sub">Science Network</a></li>
	<li><a href="http://www.gmba.unibe.ch/about_us/background/">About us</a></li>
</ul></div>
        </div>
      </div>

      <!-- Site-Switcher -->
      <div class="site-switch hidden-lg">
        <a href="http://www.unibe.ch/index_eng.html">Portal<br> UniBE</a>
      </div>

      <!-- Site-Suche -->

  <!-- mobile Suche -->

    <div class="site-search hidden-lg">
      <a href="#"><span class="hidden-xs hidden-sm">Search</span></a>
      <div class="site-search-flyout">
        <form method="get" action="http://www.suche.unibe.ch/index_en.php">
          <label for="form-site-search-mobile" class="sr-only">Search</label>
          <input id="form-site-search-mobile" name="eingabe" class="form-control" type="text">
          <button class="btn">Search</button>
        </form>
      </div>
    </div>




    </nav>

    <!-- back button -->





  </div>
</div>





<!-- Seiteninhalt -->
<section class="page-content" style="min-height: 6px;">
	<div class="container-fluid">
		<div class="container">
			<div class="row skin-gutter-wide">
				<div class="col-lg-9 col-lg-offset-3 col-md-11 col-md-offset-1">
					<h1>Mountain biodiversity science</h1>

				</div>
			</div>







							<div class="row skin-gutter-wide zmsrow-ZMSGraphic">

									<!-- ZMSGraphic.standard_html 3.4.2.unibe ## -->


<div>
	<div class="col-lg-offset-3 col-lg-8 col-md-10 col-md-offset-1 align-left" data-gridsize="MEDIUM">

			<figure class="LANDSCAPE" style="min-height:0">

					<img class="img-responsive" alt="Floral biodiversity in mountains" id="e570516" src="/static/gmba-home_files/MountainBiodiversity.png">


				<figcaption>


				</figcaption>
			</figure>

	</div>


</div>



<!-- ZMSGraphic.standard_html 3.4.2.unibe ## -->


							</div>







							<div class="row skin-gutter-wide zmsrow-ZMSTextarea">

								<div class="col-lg-8 col-lg-offset-3 col-md-10 col-md-offset-1"><!-- ZMSTextarea.standard_html -->

<iframe src="index.html" width="100%" height="1000" frameborder="0"></iframe><br>


<div style="display:none">
<hr>

<p>GMBA supports and facilitates mountain biodiversity science via <a data-id="{$unibe/portal/microsites/micro_gmba@e565928/e570049}" href="http://www.gmba.unibe.ch/research/working_groups_old" data-target="inactive">working groups</a> and individual <a data-id="{$unibe/portal/microsites/micro_gmba@e565928/e622279}" href="http://www.gmba.unibe.ch/research/projects">projects</a>. It promotes inter-and transdisciplinary science in various thematic areas.</p>
<h2>Mountain biodiversity science: thematic priorities</h2>

<!-- /ZMSTextarea.standard_html -->



							<div class="row skin-gutter-wide zmsrow-contenttabs">

								<div class="col-lg-9 col-lg-offset-3 col-md-10 col-md-offset-1"><!-- contenttabs.standard_html -->





<div class="panel-group accordion" role="tablist" aria-multiselectable="true" id="e570165">


			<div class="panel panel-default">
				<div role="tab" class="panel-heading" id="heading_pane570166">
					<h4 class="panel-title">
						<a aria-controls="collapse_pane570166" aria-expanded="false" class="collapsed" data-parent="e570165" data-toggle="collapse" href="#collapse_pane570166">Mountain biodiversity assessment and monitoring</a>
					</h4>
				</div>
				<div role="tabpanel" aria-labelledby="heading_pane570166" class="panel-collapse collapse" id="collapse_pane570166"><div class="panel-body"><!-- contentpane.standard_html -->

<h2 class="visible-print nav-tabs" style="border-bottom: 2px solid #e4e4e4;">Mountain biodiversity assessment and monitoring</h2>






            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"><!-- ZMSTextarea.standard_html -->

<p>Globally integrated assessment and monitoring of biodiversity
(species, populations, traits) requires interdisciplinary research and a
 close collaboration between observational, remote sensing, and
modelling communities that are collecting and using spatio-temporally
explicit biodiversity or environmental data to capture, report on, and
predict ongoing changes, and to develop integrated knowledge products
(e.g. map layers).
<br><br>
Current efforts focus on providing the mountain biodiversity community
with a platform for mountain biodiversity data visualization, on
supporting long-term monitoring efforts, and on bridging gaps with the
remote sensing community.<br>
<br>
Current working groups</p>

<ul>
	<li><a data-id="{$unibe/portal/microsites/micro_gmba@e565928/e609433/e613838}" href="http://www.gmba.unibe.ch/research/working_groups/sdm_and_rs">Species distribution modeling and remote sensing</a></li>
	<li><a data-id="{$unibe/portal/microsites/micro_gmba@e565928/e609433/e609722}" href="http://www.gmba.unibe.ch/research/working_groups/lter">Promoting Long-Term Ecological Research (LTER) in mountains</a></li>
	<li><a data-id="{$unibe/portal/microsites/micro_gmba@e565928/e609433/e615135}" href="http://www.gmba.unibe.ch/research/working_groups/assessment">Mountain biodiversity assessment</a></li>
</ul>
<br>
<p>Past working groups</p>

<ul>
	<li><a data-id="{$unibe/portal/microsites/micro_gmba@e565928/e609433/e613843}" href="http://www.gmba.unibe.ch/research/working_groups/global_biodiversity_monitoring_prediction_and_reporting">Global biodiversity monitoring, prediction and reporting</a></li>
	<li><a data-id="{$unibe/portal/microsites/micro_gmba@e565928/e609433/e613848}" href="http://www.gmba.unibe.ch/research/working_groups/mountain_biodiversity_data_mining">Mountain biodiversity data mining</a></li>
</ul>

<!-- /ZMSTextarea.standard_html --></div>





<!-- /contentpane.standard_html --></div>
				</div>
			</div>




			<div class="panel panel-default">
				<div role="tab" class="panel-heading" id="heading_pane570302">
					<h4 class="panel-title">
						<a aria-controls="collapse_pane570302" aria-expanded="false" class="collapsed" data-parent="e570165" data-toggle="collapse" href="#collapse_pane570302">Mountain biodiversity and global change</a>
					</h4>
				</div>
				<div role="tabpanel" aria-labelledby="heading_pane570302" class="panel-collapse collapse" id="collapse_pane570302"><div class="panel-body"><!-- contentpane.standard_html -->

<h2 class="visible-print nav-tabs" style="border-bottom: 2px solid #e4e4e4;">Mountain biodiversity and global change</h2>






            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"><!-- ZMSTextarea.standard_html -->

<p>Natural disasters in the form of landslides, floods, and avalanches
strike mountains each year, affecting well-defined areas, their habitat
diversity, and their ecosystem dynamics. Habitat and community
regeneration after such natural disturbances is generally relatively
fast. In contrast, climate change and human impact dominate large areas
with often irreversible effects. Of all global change impacts on
mountain biodiversity, land use is likely the most important factor.<br>
<br>
Current efforts focus on improving existing knowledge on the protection,
 management, and sustainable use of mountain biodiversity in the face of
 global change, and on mountain social-ecological systems.<br>
<br>
Current working groups</p>

<ul>
	<li><a data-id="{$unibe/portal/microsites/micro_gmba@e565928/e609433/e613840}" href="http://www.gmba.unibe.ch/research/working_groups/endemism">Endemism and species richness in mountains</a></li>
</ul>
<br>
<p>Past working groups</p>

<ul>
	<li><a data-id="{$unibe/portal/microsites/micro_gmba@e565928/e609433/e613851}" href="http://www.gmba.unibe.ch/research/working_groups/mountain_biodiversity_and_land_use_change">Mountain biodiversity and land-use change</a></li>
</ul>

<!-- /ZMSTextarea.standard_html --></div>





<!-- /contentpane.standard_html --></div>
				</div>
			</div>




			<div class="panel panel-default">
				<div role="tab" class="panel-heading" id="heading_pane609400">
					<h4 class="panel-title">
						<a aria-controls="collapse_pane609400" aria-expanded="false" class="collapsed" data-parent="e570165" data-toggle="collapse" href="#collapse_pane609400">Mountain biodiversity and opportunities for sustainable development</a>
					</h4>
				</div>
				<div role="tabpanel" aria-labelledby="heading_pane609400" class="panel-collapse collapse" id="collapse_pane609400"><div class="panel-body"><!-- contentpane.standard_html -->

<h2 class="visible-print nav-tabs" style="border-bottom: 2px solid #e4e4e4;">Mountain biodiversity and opportunities for sustainable development</h2>






            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"><!-- ZMSTextarea.standard_html -->

<p>Developing effective valuation, policy, governance, and management
approaches to safeguard the biodiversity underpinning human well-being
in mountains and achieve international sustainable development agendas
requires a common understanding of the interactions between nature and
people particular to given mountain ranges.<br>
<br>
Current efforts focus on improving existing knowledge on the importance
of mountain biodiversity for ecosystem functions and services, and
ultimately for human well-being in mountains and beyond.<br>
<br>
Current working group</p>
<ul>
	<li><a data-id="{$unibe/portal/microsites/micro_gmba@e565928/e609433/e614606}" href="http://www.gmba.unibe.ch/research/working_groups/bd_and_smd">Biodiversity-related opportunities for sustainable development</a></li>
</ul>
<br>
<p>Current project</p>
<ul>
	<li><a data-id="{$unibe/portal/microsites/micro_gmba@e565928/e622279/e622280}" href="http://www.gmba.unibe.ch/research/projects/biodiversity_and_wellbeing">Toward biodiversity-related opportunities for sustainable development: a global social-ecological mountain comparison</a></li>
</ul>

<!-- /ZMSTextarea.standard_html --></div>





<!-- /contentpane.standard_html --></div>
				</div>
			</div>



</div>



<!-- /contenttabs.standard_html --></div>
							</div>


</div>


			</div>
		</div>

</section>







<div class="container service-footer-container">
	<div class="service-footer">
		<ul>
			<li><a href="#" class="icon-share share-popover" data-original-title="" title="">Share</a>
				<div id="popover-service-footer"><b>Share</b>
					<ul>
						<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.gmba.unibe.ch/research" class="icon-facebook" target="_blank">Facebook</a></li>
						<li><a href="mailto:?body=http://www.gmba.unibe.ch/research" class="icon-mail">E-Mail</a></li>
						<li><a href="https://twitter.com/home?status=http://www.gmba.unibe.ch/research" class="icon-twitter no-border" target="_blank">Twitter</a></li>
					</ul>
					<a class="popover-close icon-close"></a>
				<a class="popover-close icon-close"></a></div></li>
			<li><a href="#" class="icon-print">Print</a></li>
		</ul>
	</div>
</div>




		</main>



<nav class="breadcrumb container-fluid">
  <div class="container">
    <h2>You are here</h2>
    <ul>

        <li><a href="http://www.gmba.unibe.ch/">Nyungwe Forest National park (picture: Michele Menegon)</a></li>




        <li>Research</li>

    </ul>
  </div>
</nav>




    <!-- Back to top link -->
    <a href="#" class="back-to-top"><span class="sr-only">Top</span></a>
    <!-- Fussbereich -->
    <footer class="footer container-fluid">

        <h2 class="sr-only">Weitere Informationen über diesen Webauftritt</h2>
        <div class="container">

            <!-- Service-Navigation -->
            <div id="nav-service" class="footer-nav-search">

                <nav class="nav-service">
                  <ul>
                    <li><a href="http://www.unibe.ch/index_eng.html">Portal Universität Bern</a></li>
                  </ul>
                </nav>



                <!-- Sprachnavigation -->
                <nav id="nav-lang" class="nav-lang">
                    <h3 class="hidden-lg">Sprachwahl</h3>
                    <ul>

                        <li>
                          <a href="http://www.gmba.unibe.ch/research/" class="active">EN</a>
                        </li>







                    </ul>
                </nav>



            </div>

            <!-- Copyright, Legals und Adresse -->
            <div class="legal row">
                <div class="copy col-lg-8 col-md-8 col-sm-7 col-xs-12">
                    <h3 class="sr-only">Rechtliches und Impressum</h3>
                    <ul>
                        <li>© 2018
                         University of Bern
                        </li>
                        <li><a href="http://www.unibe.ch/imprint/index_eng.html">Imprint</a></li>
                        <li><a href="http://www.unibe.ch/legal_notice/index_eng.html">Legal Notice</a></li>
                    </ul>
                </div>

				<div id="address" itemscope="itemscope" itemtype="http://schema.org/Organization" class="col-lg-2 col-md-2 col-sm-3 col-xs-8">
					<h3 class="sr-only">Unsere Adresse</h3>
					<address class="hidden-md" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                                                <span itemprop="name">University of Bern</span><br>
						<span itemprop="streetAddress">Hochschulstrasse 6</span><br>
						<span itemprop="postalCode">3012</span> <span itemprop="addressLocality">Bern</span>
					</address>
				</div>

				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 footer-logo">
                                        <a href="http://www.unibe.ch/index_eng.html" title="Startseite Portal Universität Bern"><img src="/static/gmba-home_files/logo-unibern-footer.png" alt="Universität Bern" class="footer-logo-unibern"></a>
				</div>
			</div>

			<div class="partner">
				<h3 class="sr-only">Unsere Partner</h3>
                                <a href="https://www.swissuniversities.ch/" target="_blank">
                                  <img src="/static/gmba-home_files/logo-swissuniversity-ch-footer.png" alt="Swiss University" class="footer-logo-swissuniversity">
                                </a>
			</div>

		</div>
	</footer>



	</div>




<ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul></body></html>
