{% extends "base.html" %}
{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmc8Uz_3jy6QrZD-wmb4DKjLpp31eBPKE&callback=initMap&libraries=&v=weekly" defer></script>
{% endblock %}

{% block title %}Profile{% endblock %}
{% block before_content %}
<section class="text-center container">
    <div class="row">
        <div class="col-lg-12">
            <img src="{{ object.upload_photo.url }}" class="img-thumbnail" style="width: 256px; height:256px" alt="Profile Image" />
            <h1 class="fw-light">
                {{object.get_title_display |default:""}} {{object.first_name}} {{object.last_name}}
            </h1>
            <a href="mailto:{{object.contact_email}}">Email: {{object.contact_email}}</a>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<dl class="row">
    <h3>Information</h3>

    <dt class="col-sm-3">Gender</dt>
    <dd class="col-sm-9">{{object.get_gender_display}}</dd>

    <dt class="col-sm-3">Position</dt>
    <dd class="col-sm-9">{{object.position}}</dd>

    <dt class="col-sm-3">Career Stage</dt>
    <dd class="col-sm-9">
        {% if object.career_stage %}
            {{object.career_stage}}
        {% elif object.career_stage_note %}
            {{object.career_stage_note}}
        {% else %}
            Not Mentioned
        {% endif %}
    </dd>

    <dt class="col-sm-3">Year of Last Degree Graduation</dt>
    <dd class="col-sm-9">{{object.year_of_last_degree_graduation|default:"Not Mentioned"}}</dd>

    <dt class="col-sm-3">Official Functions</dt>
    <dd class="col-sm-9">{{object.official_functions|default:"Not Mentioned"}}</dd>

    <dt class="col-sm-3">Personal Webpage</dt>
    <dd class="col-sm-9">
        {% if object.url_personal %}
            <a href="{{object.url_personal}}">{{object.url_personal}}</a>
        {% else %}
            Not Mentioned
        {% endif %}
    </dd>

    <dt class="col-sm-3">CV</dt>
    <dd class="col-sm-9">
        {% if object.url_cv %}
            <a href="{{object.url_cv}}">{{object.url_cv}}</a>
        {% else %}
            Not Mentioned
        {% endif %}
    </dd>

    <dt class="col-sm-3">ResearchGate Profile</dt>
    <dd class="col-sm-9">
        {% if object.url_researchgate %}
            <a href="{{object.url_researchgate}}">{{object.url_researchgate}}</a>
        {% else %}
            Not Mentioned
        {% endif %}
    </dd>

    <dt class="col-sm-3">ORCID</dt>
    <dd class="col-sm-9">{{object.orcid}}</dd>

    <dt class="col-sm-3">ProClim ID</dt>
    <dd class="col-sm-9">{{object.proclimid}}</dd>
</dl>
<h3>Expertise</h3>
<dl class="row">
    <dt class="col-sm-3">Research Expertise</dt>
    <dd class="col-sm-9">{{object.expertise.research_expertise}}</dd>

    <dt class="col-sm-3">Disciplinary Expertise</dt>
    <dd class="col-sm-9">
        <dl class="row">
            {% if object.expertise.atmospheric_sciences %}
            <dt class="col-sm-3">Atmospheric Sciences</dt><dd class="col-sm-9">{{object.expertise.atmospheric_sciences}}</dd>
            {% endif %}

            {% if object.expertise.hyrdospheric_sciences %}
            <dt class="col-sm-3">Hydrospheric Sciences</dt><dd class="col-sm-9">{{object.expertise.hyrdospheric_sciences}}</dd>
            {% endif %}

            {% if object.expertise.cryospheric_sciences %}
            <dt class="col-sm-3">Cryospheric Sciences</dt><dd class="col-sm-9">{{object.expertise.cryospheric_sciences}}</dd>
            {% endif %}

            {% if object.expertise.earth_sciences %}
            <dt class="col-sm-3">Earth Sciences</dt><dd class="col-sm-9">{{object.expertise.earth_sciences}}</dd>
            {% endif %}

            {% if object.expertise.biological_sciences %}
            <dt class="col-sm-3">Biological Sciences</dt><dd class="col-sm-9">{{object.expertise.biological_sciences}}</dd>
            {% endif %}

            {% if object.expertise.social_sciences_and_humanities %}
            <dt class="col-sm-3">Social Sciences and Humanities</dt><dd class="col-sm-9">{{object.expertise.social_sciences_and_humanities}}</dd>
            {% endif %}

            {% if object.expertise.other_expertise %}
            <dt class="col-sm-3">other expertise</dt><dd class="col-sm-9">{{object.expertise.other_expertise}}</dd>
            {% endif %}


            <!-- <dt class="col-sm-3"></dt><dd class="col-sm-9">{{object.expertise.atmospheric_sciences}}</dd>
            <dt class="col-sm-3"></dt><dd class="col-sm-9">{{object.expertise.atmospheric_sciences}}</dd>
            <dt class="col-sm-3"></dt><dd class="col-sm-9">{{object.expertise.atmospheric_sciences}}</dd> -->
        </dl>
    </dd>

    <dt class="col-sm-3">Spatial Scale of Expertise</dt>
    <dd class="col-sm-9">
        {{object.expertise.spatial_scale_expertise}}
    </dd>

    <dt class="col-sm-3">Statistical Focus</dt>
    <dd class="col-sm-9">
        {{object.expertise.statistical_focus_expertise}}
    </dd>

    <dt class="col-sm-3">Time Scales</dt>
    <dd class="col-sm-9">
        {{object.expertise.time_scale_expertise}}
    </dd>

    <dt class="col-sm-3">Methods</dt>
    <dd class="col-sm-9">
        {{object.expertise.methods_expertise}}
    </dd>

    <dt class="col-sm-3">Partition in Assessments</dt>
    <dd class="col-sm-9">
        {{object.expertise.participation_in_assessments_details}}
        {% if object.expertise.more_detail_about_participation_in_assessments %}
        <dl class="row">
            <dt class="col-sm-3">Details</dt>
            <dt class="col-sm-9">{{object.expertise.more_detail_about_participation_in_assessments}}</dt>
        </dl>
        {% endif %}
    </dd>

    <dt class="col-sm-3">Inputs / Participation to/in UN Conventions</dt>
    <dd class="col-sm-9">{{object.expertise.inputs_or_participation_to_un_conventions_details}}</dd>

    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9"></dd>
</dl>

<h3>Affiliations</h3>
<div class="row justify-content-start">
{% for affiliation in object.affiliations.all %}
    <div class="col">
        <div class="card" style="width: 100%; height:100%;">
            <div class="card-body">
                <h5 class="card-title text-center">
                    {{affiliation.name}}
                    <p class="text-muted">{{affiliation.street}} P.O {{affiliation.post_code}} {{affiliation.city}} {{affiliation.get_country_display}}</p>
                </h5>
                <div class="row">
                    <div class="col-sm-12">
                    </div>
                </div>
                <p class="card-text">
                    <dl class="row">
                        <dt class="col-sm-6">Department</dt><dd class="col-sm-6">{{affiliation.department}}</dd>
                    </dl>
                </p>
            </div>
        </div>
    </div>
{% endfor %}
</div>


<h3>Projects</h3>
{% for project in object.projects.all %}

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-9">
        <div id="map{{forloop.counter0}}" style="width: 100%; height: 100%;"></div>
      </div>
      <div class="col-md-3">
        <div class="card-body">
            <h5 class="card-title">
                {{project.name}}
                {% if project.acronym %}({{project.acronym}}){% endif %}
            </h5>
            <p class="card-text">
                <dl class="row">
                    <dt class="col-sm-6">Start Date</dt><dd class="col-sm-6">{{project.date_start}}</dd>
                    <dt class="col-sm-6">End Date</dt><dd class="col-sm-6">{{project.date_ending}}</dd>
                    <dt class="col-sm-6">Funding Source</dt><dd class="col-sm-6">{{project.funding_source}}</dd>
                    <dt class="col-sm-6">Role</dt><dd class="col-sm-6">{{project.role}}</dd>
                    <dt class="col-sm-6">Homepage</dt><dd class="col-sm-6">{{project.homepage}}</dd>
                    <dt class="col-sm-6">Location</dt><dd class="col-sm-6">{{project.location}}</dd>
                    <dt class="col-sm-6">Country</dt><dd class="col-sm-6">{{project.get_country_display}}</dd>
                </dl>
            </p>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="card" style="width: 18rem;">
    <div id="map{{forloop.counter0}}" style="width: 100%; height: 100%;"></div>

    <div class="card-body">
        <h5 class="card-title">
            {{project.name}}
            {% if project.acronym %}({{project.acronym}}){% endif %}
        </h5>
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>
        <p class="card-text">
            <dl class="row">
                <dt class="col-sm-6">Start Date</dt><dd class="col-sm-6">{{project.date_start}}</dd>
                <dt class="col-sm-6">End Date</dt><dd class="col-sm-6">{{project.date_ending}}</dd>
                <dt class="col-sm-6">Funding Source</dt><dd class="col-sm-6">{{project.funding_source}}</dd>
                <dt class="col-sm-6">Role</dt><dd class="col-sm-6">{{project.role}}</dd>
                <dt class="col-sm-6">Homepage</dt><dd class="col-sm-6">{{project.homepage}}</dd>
                <dt class="col-sm-6">Location</dt><dd class="col-sm-6">{{project.location}}</dd>
                <dt class="col-sm-6">Country</dt><dd class="col-sm-6">{{project.get_country_display}}</dd>
            </dl>
        </p>
    </div>
</div> -->
{% endfor %}

<script type="text/javascript">
    function initMap() {
    {% for project in object.projects.all %}
      const myLatLng{{forloop.counter0}} = { lat: {{project.coordinates.coords.1}}, lng: {{project.coordinates.coords.0}} };
      const map{{forloop.counter0}} = new google.maps.Map(document.getElementById("map{{forloop.counter0}}"), {
        zoom: 12,
        center: myLatLng{{forloop.counter0}},
      });
      new google.maps.Marker({
        position: myLatLng{{forloop.counter0}},
        map{{forloop.counter0}},
        title: "{{project.name}}",
      });
      {% endfor %}

    }
    </script>
<dl class="row">
    <dt class="col-sm-3">Publications URL</dt>
    <dd class="col-sm-9">{{object.url_publications}}</dd>

    <dt class="col-sm-3">List of publications</dt>
    <dd class="col-sm-9">{{object.list_publications|default:None}}</dd>

    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9"></dd>

    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9"></dd>
</dl>
{% endblock %}